<header>
    <!-- header-top start -->
    {{*{{include file = './navigator-header-top.tpl'}}*}}
    <!-- header-top end -->
    <!-- header-mid-area start -->
    {{*{{include file = './navigator-header-mid.tpl'}}*}}
    <!-- header-mid-area end -->
    <!-- menu-arae start -->
    {{include file = './navigator-header-menu.tpl'}}
    <!-- menu-arae end -->
</header>